body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
/*Navigation */



/* Main Content */

main{
    background-color: #ffa405;
    padding: 20px;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
}




section {
    padding: 15px;
    margin: 20px;
}

/* welcome */
/* Welcome Quote Styling */
.container {
    background: #f8f9fa;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.container:hover {
    background: #f8f9face;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border: 0.5px solid black;
}


h2 {
    color: #212529;
    font-weight: bold;
}

p.lead {
    font-style: italic;
    color: #555;
    font-weight: bold;
}


/* Order now section */
.order-section {
    padding: 40px 20px;
    /* text-align: center; */
    background-color: #f8f9fa;
    /* background-color: #f6ea81; */
    border-top: 2px solid #ddd;
    border-radius: 5px;
    /* width: fit-content; */
    /* margin-left: 23%; */

  }
  
  .order-section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .order-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .order-section .btn {
    font-size: 1.2rem;
  }


  /* gallery */
    .carousel-item img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    .carousel-item img {
      height: 400px;
    }
  }

  @media (max-width: 576px) {
    .carousel-item img {
      height: 300px;
    }
  }
  
/* Footer */
/*footer {
    background-color: #212121;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}*/

footer {
  background-color: #212121;
  color: #fff;
  text-align: center;
  padding: 15px;
  bottom: 0;
  width: 100%;
  height: 50px;
  opacity: 0.5; /* Start with transparency */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

/* Back to Top Button */
#backToTopBtn {
  position: fixed;
  bottom: 80px; /* Place it above the footer */
  right: 20px;
  display: none; /* Initially hidden */
  z-index: 1000;
  border-radius: 50%;
  padding: 10px 15px;
}

/* Bottom Message */
#bottomMessage {
  position: fixed;
  bottom: 40px; /* Above the back-to-top button */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
